@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
#general{
	width: 100%;
	height: 700px;
	background: black;
}
#top{
	width: 100%;
	height: 10%;
	background: red;
}
#middle{
	width: 100%;
	height: 80%;
	background: whitesmoke;
}
#bottom{
	width: 100%;
	height: 10%;
	background: skyblue;
}
.link{
	text-decoration: none;
	color: black;
}